# Importing Libraries

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data Base

In [7]:
# Import ords_prods_merge.pkl
# Create a string of the path
# Define the path variable
path=r'/Users/douniaelyoussoufi/Achievement 4 '
# Load the ords_prods_merge.pkl file directly using os.path.join
df_ords_prods_merg = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

# Step 1: Exercise 4.7

In [9]:
# Create a subset
df = df_ords_prods_merg[:1000000]
# The dimensions of this subset
df.shape

(1000000, 16)

In [17]:
# Define the 'price_label' function that categorizes a product based on its price
def price_label(row):
  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [27]:
# Apply the price_label function to each row in the DataFrame and create a new column 'price_range' to store the categorized price labels
df = df.copy()  # Ensures df is a new DataFrame, preventing view issues
df['price_range'] = df.apply(price_label, axis=1)

In [31]:
# Checking the dimensions of the DataFrame after adding a new column ('price_range') using the function
df.shape

(1000000, 17)

In [33]:
# Check the distribution of values in the 'price_range' column after applying the price_label function
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product    673592
Low-range product    312617
High range            12900
Not enough data         891
Name: count, dtype: int64

In [41]:
# Assign 'High-range product' to 'price_range_loc' where prices are greater than 15 using loc()
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
# Assign 'Mid-range product' to 'price_range_loc' where prices are between 5 and 15 using loc()
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
# Assign 'Low-range product' to 'price_range_loc' where prices are 5 or below using loc()
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [45]:
# Check the distribution of values in the 'price_range_loc'
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     673592
Low-range product     312617
High-range product     12900
NaN                      891
Name: count, dtype: int64

In [25]:
# Count the occurrences of each value in the 'orders_day_of_week' column
df_ords_prods_merg['order_dow'].value_counts(dropna=False)

order_dow
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

In [27]:
# Initialize an empty list to store the results
result = []

# Loop through each row and categorize the day
for value in df_ords_prods_merg["order_dow"]:
    if value == 0:  # Saturday (Busiest day)
        result.append("Busiest day")
    elif value == 4:  # Wednesday (Least busy day)
        result.append("Least busy")
    else:
        result.append("Regularly busy")  # Other days

# Assign the result list to the new 'busiest day' column
df_ords_prods_merg['busiest day'] = result

In [29]:
# Count occurrences of each label in 'busiest day' column
df_ords_prods_merg['busiest day'].value_counts(dropna=False)

busiest day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

In [31]:
# Print frequency of 'busiest day' column
print("Frequency of 'busiest day' column:")
print(df_ords_prods_merg['busiest day'].value_counts(dropna=False))
# Print frequency of 'order_dow' column (for comparison)
print("\nFrequency of 'orders_day_of_week' column:")
print(df_ords_prods_merg['order_dow'].value_counts(dropna=False))

Frequency of 'busiest day' column:
busiest day
Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: count, dtype: int64

Frequency of 'orders_day_of_week' column:
order_dow
0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: count, dtype: int64

# Step 2

Create a new column by updating the "busiest day" column to assign the two busiest days (Saturday and Sunday) and the two slowest days (Tuesday and Wednesday).

In [61]:
# Initialize an empty list to store the results
result = []

# Loop through each row and categorize the day
for value in df_ords_prods_merg["order_dow"]:
    if value in [0, 1]:  # Saturday and Sunday (Busiest days)
        result.append("Busiest days")
    elif value in [3, 4]:  # Tuesday and Wednesday (Slowest days)
        result.append("Slowest days")
    else:
        result.append("Regularly busy")  # Other days

# Assign the result list to the new 'busiest_days' column
df_ords_prods_merg["busiest_days"] = result

# Step 3

In [63]:
# Display the count of each category in the new column
df_ords_prods_merg["busiest_days"].value_counts(dropna=False)

busiest_days
Regularly busy    12927862
Busiest days      11875759
Slowest days       7631438
Name: count, dtype: int64

# Step 4

In [70]:
# Count the number of orders for each hour
hourly_orders = df_ords_prods_merg["order_hour_of_day"].value_counts().sort_index()
# Display the results
hourly_orders

order_hour_of_day
0      218951
1      115787
2       69435
3       51321
4       53284
5       88064
6      290796
7      891951
8     1719991
9     2456751
10    2764476
11    2738647
12    2620898
13    2663346
14    2691598
15    2664583
16    2537506
17    2089510
18    1637956
19    1259416
20     977049
21     796379
22     634743
23     402621
Name: count, dtype: int64

Based on the order distribution, we can categorize the hours into three periods:
- "Most orders" → 10 AM to 4 PM (highest order volume)
- "Average orders" → 7 AM to 9 AM & 5 PM to 7 PM (moderate order volume)
- "Fewest orders" → 8 PM to 6 AM (low order volume)

In [73]:
# Create the 'busiest_period_of_day' column
df_ords_prods_merg["busiest_period_of_day"] = c
# Assign "Most orders" to peak hours
df_ords_prods_merg.loc[df_ords_prods_merg["order_hour_of_day"].between(10, 16), "busiest_period_of_day"] = "Most orders"
# Assign "Average orders" to moderately busy hours
df_ords_prods_merg.loc[df_ords_prods_merg["order_hour_of_day"].between(7, 9) | df_ords_prods_merg["order_hour_of_day"].between(17, 19), "busiest_period_of_day"] = "Average orders"

# Step 5

In [84]:
# Display the count of each category in the "busiest_period_of_day" column
df_ords_prods_merg["busiest_period_of_day"].value_counts(dropna=False)

busiest_period_of_day
Most orders       18681054
Average orders    10055575
Fewest orders      3698430
Name: count, dtype: int64

# Step 7

In [90]:
# Export data df_ords_prods_merg dataframe with the new columns to pkl
df_ords_prods_merg.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_bdays.pkl'))